.main{
    text-align: center;
    margin-top: 7rem;
}

.containerCart{
    display:flex;
    justify-content :space-evenly;
    flex-wrap: wrap;
}
.card{
    margin: 3rem;
}
.ItemDetailContainer{
    text-align: center;
}
.itemCount{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #EDEDED;
    width: 150px;
    height: 50px;
}
.btn-item{
    border: none;
    font-size: 25px;
    cursor: pointer;
}
.btn-item:hover{
    opacity: 0.6;
}

.links{
    list-style: none;
    text-decoration: none;
}

.btn{
    background-color: #002B5B;
    border: solid #002B5B 1px;
    border-radius: 5px;
    padding: .5rem;
    margin: .5rem;
    color: white;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease;
}
.btn:hover{
    background-color: #7FBCD2;
    border: solid #7FBCD2 1px;
    color:black;
}
.cardDetail{
    position: relative;
    left: 25%;
    margin-top: 7rem;
    margin-bottom: 7rem;
}

/* cart */
.container_cart{
    margin: 10rem 0 4rem 0;
}
.cart{
    width: 800px;
}
.mid {
    margin-left: 50% ;
    transform: translateX(-50%);
}

.cart .cart-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.2fr;
    align-items: center;
    text-align: center;
    border-bottom: solid #002B5B 1px;
}
.cart-item img{
    width: 200px;
}
.cart_resumen{
    width: 400px;
    height: 200px;
    background: #EFF3F5;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.flex{
    display:flex ;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cart_vacio{
    margin-top: 8rem;
    margin-bottom: 11.6rem;
}
.btn-trash{
    background-color: #002B5B;
    border: solid #002B5B 1px;
    border-radius: 5px;
    padding: .3rem;
    margin: .2rem;
    color: white;
    cursor: pointer;
    transition: all .5s ease;
}
.btn-trash:hover{
  opacity: 0.5;
}

.loader{
    margin-top: 15rem;
    margin-bottom: 14rem;
}
.center{
    display: flex;
    justify-content: center;
}


/* footer */
footer{
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
    background-color: #EFF3F5;    
}
.logos{
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
    text-align: center;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer p,a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
    text-decoration: none;
    
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}


/*-------------CHECKOUT ------------- */ 
/* formulario */
.checkout{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0 2rem;
}
.checkout_titulo{
    padding-left: 3.5rem;
}
.checkout_contenido{
    display: flex;
    justify-content: space-around;
    height: auto;
}
.form_grupo{
    padding: 0px 20px;
}

.form{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:40px;
    margin: 2rem;
}
.form_label{
    display: block;
    font-weight:700;
    padding: 5px 10px;
    cursor: pointer;
}
.form_grupo-input{
    position: relative;
}

.form_input{
    width: 100%;
    background:#EFF3F5;
    border: 3px solid transparent;
    line-height: 45px;
    padding:0 40px 0 10px ;
    transition: .3s ease all;
    height: 2.5rem;
    border-radius: 10px;

}
.form_input:focus{
    border: 1px solid #0075ff;
    outline: none;
    box-shadow: 2px 0px 40px rgba(99, 99, 99, 0.2);
}
.form_input-error{
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 0;
    margin-top: 1px;
    margin-left: 10px;
    opacity: 1;
}

.form_validacion-estado{
    position: absolute;
    right: -40px;
    bottom: 12px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.form_grupo-btn{
    grid-column: span 2;
}

.form_grupo-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_btn{
    width: 30%;
    height: 45px;
    line-height: 45px;
    border-radius: 5px;
    padding: 0 5px;
    background: #06113C;
    color: #fff;
    font-weight:500;
    border: none;
    cursor: pointer;
    transition: .2s ease all;
}
.form_btn:hover{
    scale: 1.02;
}

/* ---- estilos de validacion ----*/
/* incorrecto */
.form_grupo-incorrecto .form_input{
    border:1px solid #bb2929;
}
.form_grupo-incorrecto i.fa-circle-xmark{
    color:#bb2929;
    opacity: 1;
}

.incorrecto{
    color:#bb2929;
    opacity: 1;
}

.form_grupo-incorrecto .form_input-error{
    opacity: 1;
}

/* resumen de compra */
.container_resumen{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;

}
.resumen{
    max-height: 500px;
    overflow-y: auto;   
    overflow-x: hidden;  
    margin-left: 7rem;
    background-color: #EFF3F5;
    border-radius: 20px;
    padding: 1rem;
}
.resumen::-webkit-scrollbar{
    width: 7px;
}

.resumen div{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    padding: .5rem 0;
}
.resumen h2 {
    text-align: center;
}
.resumen-titles{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.resumen-titles p{
    margin-bottom: 0;
}
.checkout-orden{
    margin-top: 9rem;
    margin-bottom: 14rem;
    text-align: center;
}


/* vista movile */
@media screen and (max-width:768px){

    .container__footer{
        display: flex;
        justify-content: center;
        /* margin: auto; */
    }
    .box__footer{
        padding: 20px;

    }
    /* carrito vacio */
    .cart_vacio{
        margin-bottom: 4rem;
        text-align: center;
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding-bottom: 2rem;
        margin: 0 .7rem;
        gap: 10px;
    }
    .form_grupo-btn {
        width: 150px;
    }
    .form_btn{
        width: 100%;
    }
  
    .checkout{
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
        margin-top: 4rem;
    
    }
    
    .resumen{
        max-height: 400px;
        margin-left: 0;
    }
    .container_cart{
        margin: 5rem 0;
        padding: 0 1rem;
    }
    .cart-item img{
        width: 100px;
    }
    .cart{
      margin-bottom: 2rem;
    }
  
}