.main{
    text-align: center;
    margin-top: 5rem;
}
.cartCant{
    font-size: 16px;
    background-color: red;
    padding:1px 6px;
    border-radius: 50%;
    position: relative;
    top:-28px;
    left: -14px;
}

.containerCart{
    display:flex;
    justify-content :space-evenly;
    flex-wrap: wrap;
}
.card{
    margin: 3rem;
}

.ItemDetailContainer{
    text-align: center;
}

.links{
    list-style: none;
    text-decoration: none;
}

.btn{
    background-color: #002B5B;
    border: solid #002B5B 1px;
    border-radius: 5px;
    padding: .5rem;
    margin: .5rem;
    color: white;
    transition: all .5s ease;
}
.btn:hover{
    background-color: #7FBCD2;
    border: solid #7FBCD2 1px;
    color:black;
}


.cardDetail{
    position: relative;
    left: 25%;
    margin-top: 5rem;
}
