.main{
    text-align: center;
    margin-top: 5rem;
}
.cartCant{
    font-size: 16px;
    background-color: red;
    padding:1px 6px;
    border-radius: 50%;
    position: relative;
    top:-28px;
    left: -14px;
}

.containerCart{
    display:flex;
    justify-content :space-evenly;
    flex-wrap: wrap;
}
.card{
    margin: 3rem;
}

.ItemDetailContainer{
    text-align: center;
}

.links{
    list-style: none;
    text-decoration: none;
}

.btn{
    background-color: #002B5B;
    /* background-color: #212121; */
    border: solid #002B5B 1px;
    border-radius: 5px;
    padding: .5rem;
    margin: .5rem;
    color: white;
    transition: all .5s ease;
}
.btn:hover{
    background-color: #7FBCD2;
    border: solid #7FBCD2 1px;
    color:black;
}


.cardDetail{
    position: relative;
    left: 25%;
    margin-top: 5rem;
}



/* cart provisoria */
.container_cart{
    margin-top: 5rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid #002B5B;
    width: 500px;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}
.btn-trash{
    background-color: #002B5B;
    border: solid #002B5B 1px;
    border-radius: 5px;
    padding: .3rem;
    margin: .2rem;
    color: white;
    transition: all .5s ease;
}
.btn-trash:hover{
  opacity: 0.5;
}